@media(max-width: 1280px) {

    nav ul {
        margin-right: 100px;
    }

    nav a {
        font-size: 13px;
    }

    nav .busca input {
        font-size: 11px;
        width: 100px;
    }

    .busca input::placeholder {
        font-size: 10px;
    }

    nav .conta a {
        font-size: 13px;
        gap: 8px;
    }

    .container-principal .baixar-app {
        font-size: 13px;
    }

    .container-principal .baixar img {
        width: 150px;
    }

    .container-principal .propaganda {
        max-width: 300;
    }

    .container-principal2 .informacao {
        max-width: 350px;
    }

    .container-principal2 .paragrafo {
        font-size: 10px;
    }

    .container-principal2 h2 {
        font-size: 28px;
    }

    .container-principal2 .paragrafo2 {
        font-size: 13px;
    }

    .container-principal2 ul li {
        font-size: 13px;
        padding-bottom: 50px;
    }

    .container-principal2 .telefone {
        margin-left: 250px;
    }

    .container-principal2 .telefone img {
        width: 280px;
    }

}

@media(max-width: 1150px) {

    .logo img {
        margin: auto;
    }

    nav ul {
        margin-right: 50px;
    }

    nav a {
        padding: 12px;
    }

    nav.busca input {
        width: 80px;

    }

    .container-principal {
        flex-direction: column;
        padding-left: 20px;
        text-align: center;
    }

    .container-principal .secao-principal {
        max-width: 100%;
    }

    .container-principal .secao-principal {
        margin-top: 1px;
    }

    .container-principal .baixar {
        gap: 20px;
    }

    .container-principal .propaganda img {
        max-width: 80%;
        margin: 0 auto;
        margin-left: 70px;
    }

    .container-principal2 {
        flex-direction: column;
    }

    .container-principal2 .informacao {
        max-width: 100%;
    }

    .container-principal2 .telefone img {
        max-width: 80%;
        margin: auto;
        margin-right: 70px;
    }
}

@media(max-width: 974px) {
    .menu-icon {
        display: block;
    }

    .right-itens {
        display: none;
        flex-direction: column;
        gap: 10px;
    }

    .right-itens.active {
        display: flex;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #f07110;
        padding: 10px;
        border-radius: 8px;
    }

    .container-pesquisa {
        flex-direction: column;
        margin-right: 0;
    }

    .busca input {
        width: 200px;
    }

    nav ul {
        gap: 10px;
        flex-direction: column;
        padding: 10px;
    }
}

@media(max-width: 750px) {

    header {
        padding: 10px 30px 10px 30px;
    }

    .container-principal .secao>h1 {
        font-size: 30px;
    }

    .container-principal .baixar-app {
        font-size: 13px;
    }

    .container-principal .baixar img {
        width: 100px;
    }

    .container-principal {
        padding-left: 10px;
    }

    .container-principal2 .telefone {
        width: 230px;
        margin: 10 auto;
    }

}

@media(max-width: 430px) {
    .container-principal .propaganda img {
        margin-left: 50px;
    }
}