* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

header {
    width: 100%;
    background-color: #f07110;
    padding: 10px 80px 10px 80px;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
    margin-left: 60px;
    gap: 50px;
}

nav a {
    color: #ffffff;
    font-size: 18px;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

header .container-pesquisa {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 20px;

}

header .busca {
    display: flex;
    gap: 8;
}

header .busca input {
    background-color: #f07110;
    ;
    color: white;
    font-size: 18px;
    padding: 10px;
    border: 0 solid white;
    border-radius: 0;
    width: 200px;

    outline: none;
}

.busca input::placeholder {
    color: white;
    font-size: 14px;
}

header .conta a {
    display: flex;
    color: #ffffff;
    font-size: 18px;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s ease;
    gap: 13px;
}

.conta a:hover,
nav a:hover {
    background-color: #f4873a;
}

.container-principal {
    background: url('img/fundo-laranja.jpg');
    background-size: cover;
    /* Faz a imagem cobrir todo o fundo */
    background-position: center;
    /* Centraliza a imagem de fundo */
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
    width: 100%;
    color: #ffffff;
}

.container-principal .secao>h1 {
    margin-top: 80px;
    font-size: 50px;
}

.container-principal .secao-principal {
    max-width: 600px;
}

.container-principal .baixar-app {
    margin-top: 20px;
    line-height: 1.4;
    font-size: 18px;
}

.container-principal .baixar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;
}

.container-principal .explorar {
    display: flex;
    align-items: center;
    padding-top: 200px;
    font-size: 12px;
    gap: 5px;
}

.container-principal2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    width: 100%;
    background-color: #ffffff;
}

.container-principal2 .informacao {
    max-width: 600px;
    margin-top: 40px;

}

.container-principal2 .paragrafo {
    color: #f07110;
    margin-bottom: 40px;
}

.container-principal2 h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #000;
}

.container-principal2 .paragrafo2 {
    color: #000;
    margin-bottom: 40px;
    line-height: 1.4;
    font-size: 18px;
}

.container-principal2 ul li {
    display: flex;
    align-items: center;
    line-height: 1.4;
    font-size: 18px;
    padding-bottom: 50px;
    gap: 25px;
}

.container-principal2 .telefone {
    margin: 60px 200px;
}

